crashdumps/
EasyAntiCheat/
movie/
sd/
PortableGit/
amd_ags_x64.dll
bink2w64.dll
Data0.bdt
Data0.bhd
Data1.bdt
Data1.bhd
Data2.bdt
Data2.bhd
Data3.bdt
Data3.bhd
eldenring.exe
eossdk-win64-shipping.dll
eossdk-win64-shipping.so
Game.zip
mod_loader_log.txt
oo2core_6_win64.dll
regulation.bin
regulation-1.08.1.rar
start_protected_game.exe
steam_api64.dll
steam_appid.txt
sound.vbs
1PushUpdate.bat